@charset "UTF-8";
:root {
  --primary-text-color:#212121;
  --titl-text-color:#757575;
  --accent-color:#2196F3;
  --background-color:#F5F4FA;
  --background-color-footer:#2F303A;
  --color-white: #fff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-gradient: linear-gradient(to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.footer-cot-link, .property__icon {
  display: flex;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 480px) {
  img {
    width: 100%;
  }
}

.no-scroll {
  overflow: hidden;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ececec;
  min-height: 40px;
}
@media screen and (min-width: 480px) {
  .header {
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 80px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  color: black;
}
.header__logo:hover, .header__logo:focus {
  color: var(--accent-color);
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    margin-left: 93px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.header__contacts {
  margin-left: auto;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__mail, .contacts__tel {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titl-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__mail, .contacts__tel {
    display: flex;
    align-items: center;
  }
}
.contacts__mail:hover, .contacts__tel:hover, .contacts__mail:focus, .contacts__tel:focus {
  color: var(--accent-color);
}

/* иконки в контактах в шапке */
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts__tel {
    display: flex;
    align-items: center;
  }
}

/* подчеркивание для активной страницы */
.current {
  position: relative;
  color: var(--accent-color);
  transition-property: background-color;
  transition-duration: 250ms;
}
.current::after {
  position: absolute;
  content: "";
  display: block;
  color: var(--accent-color);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-size: cover;
  background-color: var(--accent-color);
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn {
  margin-left: auto;
  display: none;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .menu-open-btn {
    display: block;
  }
}
.menu-open-btn:focus {
  fill: #2196f3;
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: var(--accent-color);
}

.mob-item {
  margin-bottom: 32px;
}

.mob-menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mod-sot {
  display: inline-flex;
}

.mod-sot-list {
  position: relative;
  display: flex;
  align-items: center;
}
.mod-sot-list:not(:last-child)::after {
  content: "";
  width: 22px;
  height: 1px;
  background: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mod-sot-link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mod-sot-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo__colortext {
  color: var(--accent-color);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------шапка в mane--------------- */
.overlay {
  background-image: var(--bg-gradient), url(/images/Headermob.jpg);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .overlay {
    max-width: 480px;
    height: 400px;
    background-image: var(--bg-gradient), url(/images/Headermob.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bg-gradient), url(/images/headermob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    height: 400px;
    background-image: var(--bg-gradient), url(/images/Headertabl.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bg-gradient), url(/images/Headertabl-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: var(--bg-gradient), url(../images/header.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: var(--bg-gradient), url(/images/header-2x.jpg);
  }
}

.hat {
  padding: 118px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hat {
    padding: 200px 0;
  }
}

.hat-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 280px;
  height: 84px;
}
@media screen and (min-width: 480px) {
  .hat-title {
    width: 360px;
    height: 84px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hat-title {
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hat-btn {
  display: inline-block;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  text-align: center;
  min-width: 216px;
}

@media screen and (min-width: 768px) {
  .property__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .property__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .property__item {
    width: calc((100% - 90px) / 4);
  }
}

.property__icon {
  color: var(--primary-text-color);
  justify-content: center;
  background: var(--background-color);
  max-width: 450px;
  height: 120px;
  border: none;
  border-radius: 4px;
  margin-bottom: 30px;
}

.property__icons {
  fill: currentColor;
}

.property__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .property__title {
    text-align: center;
  }
}

.property__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--titl-text-color);
}
@media screen and (min-width: 768px) {
  .property__text {
    max-width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .property__text {
    width: 270px;
    height: 72px;
  }
}

/* ---------команда--------------- */
.team {
  background: #F5F4FA;
}

.team__title {
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  max-width: 450px;
  left: 815px;
  top: 1632px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__card {
  padding: 30px 0;
  text-align: center;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--titl-text-color);
  padding-top: 10px;
}

/* Наша команда -- соц сети  */
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__socials {
  margin-top: 16px;
}

.socials__link {
  color: #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--color-white);
  transition: color 250ms linear, background 250ms linear;
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--color-white);
}

.socials__icon {
  fill: currentColor;
}
.socials__icon:not(:last-child) {
  margin-right: 10px;
}

/* -------------------наши роботі--------------- */
.work {
  display: block;
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.work__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.work__list {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 32px;
}

.work__link {
  position: relative;
  display: block;
  line-height: 0;
}

.work__text {
  position: absolute;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

/* ПОСТОЯННЫЕ КЛИЕНТЫ */
.klients__title {
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}
@media screen and (max-width: 1199px) {
  .klients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}

.klients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.klients__item {
  height: 92px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .klients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .klients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .klients__item {
    width: calc((100% - 150px) / 6);
  }
}

.klients__link {
  color: #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms linear, border 250ms linear;
}
.klients__link:hover, .klients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.klients__icon {
  fill: currentColor;
}

/*  -------PORTFOLIO------------------- */
.button {
  display: flex;
  margin-left: auto;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.buttons {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  background: #F5F4FA;
  transition: color 250ms linear, background 250ms linear;
}
.buttons:hover, .buttons:focus {
  color: #FFFFFF;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.photo-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.photo-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--titl-text-color);
}

.photo-link {
  display: block;
  background-color: var(--color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-link:hover, .photo-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.photo-item {
  margin-right: 30px;
  margin-bottom: 30px;
  outline: 1px solid #eee;
}
.photo-item:nth-child(3n) {
  margin-right: 0;
}
.photo-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.photo-dop {
  padding: 20px 24px;
}

/* ОБВЕРТКА НА ФОТО */
.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper-text {
  position: absolute;
  top: 1px;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.wrapper-text:hover .wrapper-text {
  transform: translateY(0);
}

.footer {
  display: block;
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 603px;
}
@media screen and (min-width: 480px) {
  .footer {
    height: 603px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    height: 463px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
  }
}

.footer-container {
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

.footer-nav {
  display: block;
  width: 231px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-nav {
    margin-left: auto;
    margin-bottom: 0px;
  }
}

.footer__logo {
  display: block;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__logo:hover, .footer__logo:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    display: inline-block;
  }
}

.address {
  display: block;
}

.adress-text {
  display: block;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .adress-text {
    margin-bottom: 9px;
  }
}
@media screen and (min-width: 1200px) {
  .adress-text {
    display: inline-block;
  }
}

.footer-mail, .footer-tel {
  display: block;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer-mail, .footer-tel {
    display: inline-block;
  }
}

.footer-mail {
  padding-bottom: 9px;
}

.footer-mail:hover, .footer-tel:hover,
.footer-mail:focus, .footer-tel:focus {
  color: var(--accent-color);
}

/* Социалные сети в футере */
/* присойденяйтесь */
.footer-cot-seti {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-cot-seti {
    margin-right: 89px;
    margin-left: 70px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-cot-seti {
    margin-right: 0;
    margin-left: 70px;
    margin-bottom: 0px;
  }
}

.title-cot-seti {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title-cot-seti {
    display: inline-block;
  }
}

.footer-cot-list {
  display: flex;
  justify-content: center;
}

.footer-cot-item {
  width: 44px;
  height: 44px;
}
.footer-cot-item:not(:last-child) {
  margin-right: 10px;
}

.footer-cot-link {
  color: #FFFFFF;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms linear, background 250ms linear;
}

.footer-cot-link:hover,
.footer-cot-link:focus {
  background-color: var(--accent-color);
}

.footer-cot-icon {
  fill: currentColor;
}

/* форма футера */
.footer-form {
  display: inline-block;
  margin-left: 0;
  width: 300px;
  height: 156px;
  /* justify-content: space-between; */
}
@media screen and (min-width: 480px) {
  .footer-form {
    margin-left: 0;
    width: 450px;
    height: 156px;
  }
}
@media screen and (min-width: 768px) {
  .footer-form {
    margin-left: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    display: block;
    width: 570px;
    height: 86px;
    margin-left: 93px;
  }
}

.footer-form-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .footer-form-title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .form-item {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .form-item {
    text-align: center;
  }
}

.form-list input {
  height: 50px;
  width: 290px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color-white);
  transition: color 250ms linear;
}
@media screen and (min-width: 480px) {
  .form-list input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-list input {
    width: 358px;
    margin: 0;
  }
}

.form-list input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.form-list input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.form-list input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.form-list:not(:last-child) {
  margin-right: 12px;
}

.footer-form-btn {
  align-items: center;
  text-align: center;
  justify-content: space-around;
  padding: 10px 28px;
  margin: 0;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--color-white);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer-form-btn {
    margin-left: 139px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-btn {
    margin: 0;
  }
}

.footer-form-icon {
  fill: var(--color-white);
}

/* модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:focus, .icon-close:hover {
  fill: var(--accent-color);
}

.btn-close {
  position: absolute;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  cursor: pointer;
  fill: #000;
  z-index: 3;
}
.btn-close:focus, .btn-close:hover {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* форма модалки */
.modal-form {
  padding: 40px;
}

.modal-form-title {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal-form-name, .modal-form-tel,
.modal-form-mail {
  position: relative;
  margin-bottom: 28px;
}

.modal-input {
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: outline 250ms linear;
  outline: transparent;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
@media screen and (max-width: 1199px) {
  .modal-input {
    max-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-input {
    width: 448px;
  }
}

.modal-form-comment {
  position: relative;
  width: 100%;
  height: 120px;
}

.modal-label-comment {
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--titl-text-color);
  top: 0;
  left: 0;
  transform: translateY(-120%);
}

.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  resize: none;
  color: var(--primary-text-color);
  outline: transparent;
  transition: color 250ms linear;
}

.modal-form-comment textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment textarea {
  color: var(--primary-text-color);
}

.modal-label {
  position: absolute;
  display: block;
  margin-bottom: 4px;
  padding-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: var(--titl-text-color);
  top: -50%;
  left: 0;
}

.madal-form-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.modal-label-policy {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .modal-label-policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.modal-icon{
    display: inline-block;
    height: 15px;
    width: 16px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 7px; 
}
.checkbox:checked + .modal-icon{
     background-color: var(--accent-color);
    background-image: url(../images/iconcheck.svg);
    background-size: contain;
    background-origin: border-box; 
    border: var(--accent-color); } */
.modal-icon {
  display: block;
  height: 15px;
  width: 16px;
  background-color: var(--color-white);
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: background 250ms linear;
}

.checkbox:checked + .modal-icon {
  background-color: var(--accent-color);
  border: var(--accent-color);
}

.btn-modal-form {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--color-white);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 30px auto 0;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  line-height: 1px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
}

.name-svg {
  position: absolute;
  left: 12px;
  top: 50%;
  color: var(--accent-color);
  display: inline-block;
  transform: translateY(-50%);
  transition: color 250ms linear 0s;
}

.modal-input:focus ~ .name-svg {
  fill: #2196F3;
}

.modal-input:focus, .modal-comment:focus {
  outline: #2196F3 1px solid;
}/*# sourceMappingURL=main.css.map */