/* основной цвет #212121 */
/* вторичній цвет #757575 */
/* белый #FFFFFF*/
/* акцент-синий #2196F3*/
/* background: #F5F4FA;
background: #2F303A;
 */

:root{
    --primary-text-color:#212121;
    --titl-text-color:#757575;
    --accent-color:#2196F3;
    --background-color:#F5F4FA;
    --background-color-footer:#2F303A;
    --color-white: #fff;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
}
 
body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color: var(--primary-text-color);
}

.container {
    width: 1200px;
    margin: 0 auto; 
    padding: 0 15px;
    padding-right: 15px; 
    /* background-color: aqua;  */

}

p,
h1,
h2,
h3,
h4,
h5,
h6
{
margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.section{
    padding: 94px 0;
}
/* ----------------------шапка - header----------------------*/
.header-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.colortext
{
    color: var(--accent-color)  ;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.link{
    text-decoration: none;
}
.header{
    background-color:#FFFFFF ;
    border-bottom: 1px solid #ececec;
}
.header-links{ 
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* position: relative; */
}

.header-links:hover,
.header-links:focus {
    color: var(--accent-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-list {
    display: flex; 
    margin-left: 93px;
     
}

.header-list-item:not(:last-child)
{
    margin-right: 50px;
}

.header-mail, .header-tel {
    display:flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px; 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--titl-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover, .header-tel:hover,
.header-mail:focus, .header-tel:focus
{   color: var(--accent-color);}
.kontakt{
    display: flex;
    margin-left: auto;
    justify-content: center;
}
.contakt-item:not(:last-child){
    margin-right: 50px;
}
.header-menu{
    display: flex;
    align-items: center;
}
/* подчеркивание для активной страницы */
.current
{
    position: relative; 
    color:var(--accent-color);
    transition-property: background-color;
    transition-duration: 250ms; 
}
.current::after{
 position: absolute; 
    content: "";
    display: block;
    color: var(--accent-color);
    /* top: 97%;   */
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 4px;
    background-size: cover; 
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* иконки в контактах в шапке */
.kontakt-icon{
    fill: currentColor;
    margin-right: 10px;
}

/* -------------шапка в mane--------------- */
.overlay{
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
     url(../images/header.jpg);
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-color:  #C4C4C4;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.hat{
    padding: 200px 0;
    text-align: center;   
    
   

    
}
.hat-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
     text-align: center;  
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left:auto;
    width: 696px;
}

.hat-btn{
    display: inline-block;
     align-items: center; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color:var(--accent-color) ;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    border: none;
    text-align: center; 
    min-width: 216px;
 
    }  


    /* модалка */
    .backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  rgba(0, 0, 0, 0.2);
        transition: opacity 300ms linear, visibility 300ms linear;
    }
    .modal{
position: absolute;
width: 528px;
min-height: 581px;
left: 50%;
top: 50%;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transform: translate(-50%, -50%) scale(1);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    

   
  .icon-close:focus, .icon-close:hover, 
   .btn-close:focus, .btn-close:hover {
    fill: var(--accent-color);


   }
   .btn-close{
    position: absolute;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 8px;
    right: 8px;
    cursor: pointer;
    fill: #000;;
    z-index: 3;

   }
   .backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
   }
   
/* -------------------особенности -----------------*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}
.property-list{
    display: flex;
    
}
.property-item{
    width: 270px;
}
 /* .property-item::before{ 
    display:block;
    content:"";
    height: 120px;
    background-size: 70px; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}
.icon-antenna::before{
   
    background-image: url(../images/antenna\ 1.svg);
}
.icon-clock::before{
    background-image: url(../images/clock\ 1.svg);
}
.icon-diagram::before{
    background-image: url(../images/diagram\ 1.svg);
}
.icon-astranavt::before{
background-image: url(../images/astronaut\ 1.svg); } */

.property-item:not(:last-child){
    margin-right: 30px;
}    

 .icon-link{
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background:var(--background-color);
    width: 270px;
    height: 120px;
    border:none;
    border-radius: 4px;
    margin-bottom: 30px;

}
.icon-sot{
    fill: currentColor;
}
.property-titles{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;

}
.property-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--titl-text-color);
}

/* -------------------наши роботі--------------- */
 .work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center; 
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    margin-bottom: 50px;
    }
.work
{ padding-bottom: 94px;}
    .work-list{
        display: flex;
    }
    .work-item:not(:last-child){
        margin-right: 32px;
    }
.work-link{
    position: relative; 
    display: block;
    line-height: 0;
}
.work-text{
  position: absolute;  
 font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;  
bottom: 0;
right: 0;
width: 370px;
height: 70px;
padding-top: 27px;
text-align: center;
background: rgba(47, 48, 58, 0.8);
color: #ffffff;
}


/* ---------команда--------------- */

.team{
    background: #F5F4FA;
}
 .team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center; 
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    margin-bottom: 50px;
 }
 .team-list{
    display: flex;
    
 }
 .team-item{
width: 270px;
left: 815px;
top: 1632px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
 }
 .team-item:not(:last-child){
    margin-right: 30px;
 }
  .team-item-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    
  }
  .team-item-text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--titl-text-color);
    padding-top: 10px; 
  }
 .team-dop{
    padding: 30px 0;
    text-align: center;
   

/* Наша команда -- соц сети  */
    
} 
.team-cot-link{
    color:  #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background:var(--color-white);
  
    transition: color 250ms linear,background 250ms linear;
}
.team-cot-link:hover, .team-cot-link:focus{
   background-color: var(--accent-color);
   color: var(--color-white);
}
.team-cot-icon{
    fill: currentColor;
}
.team-cot-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  
 
}
.team-cot-item:not(:last-child){
    margin-right: 10px;
}
/* ПОСТОЯННЫЕ КЛИЕНТЫ */
.klients-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--primary-text-color);
}
.klients-item{
    width: 170px;
    height: 92px;   
}
      .klients-link{
        color:  #AFB1B8;
        display: flex;
        align-items: center;
        justify-content: center;
        background:var(--color-white);
        width: 100%;
        height: 100%;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    
        transition: color 250ms linear, border 250ms linear;
    }
    .klients-link:hover, .klients-link:focus{
       color: var(--accent-color);
       border-color: var(--accent-color);
    }
    .klients-icon{
        fill: currentColor;
    }
    .klients-list{
        display: flex;
     
    }
    .klients-item:not(:last-child){
        margin-right: 30px;
    }  
/* ----------------футер-подвал ------------------*/
.footer-mail, .footer-tel{
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.footer-mail{
 padding-bottom:  9px; 
 
}

.footer-mail:hover, .footer-tel:hover,
.footer-mail:focus, .footer-tel:focus{
    color: var(--accent-color);
}
.footer{
    display: block;
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.footer-nav{
    display: block;
    width: 231px;
}
.adress-text{
    display:inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-bottom: 9px;
}
.footer-link{
    display: inline-block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-link:hover, .footer-link:focus
{color: var(--accent-color);}
.address{
    display:block;
}

/* Социалные сети в футере */


/* присойденяйтесь */
.footer-cot-seti{
    margin-left: 70px;
}
.title-cot-seti{
display: block;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.footer-cot-item{
    width: 44px;
    height: 44px;
}
.footer-cot-link{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: color 250ms linear, background 250ms linear;
}
.footer-cot-link:hover, 
.footer-cot-link:focus{
   background-color: var(--accent-color);
}
.footer-cot-icon{
    fill: currentColor;
}
.footer-cot-list{
    display: flex;
}
.footer-cot-item:not(:last-child){
    margin-right: 10px;
}
/*  -------PORTFOLIO------------------- */
.button{
    display: flex;
    margin-left: auto;
    justify-content:center;
    margin-bottom: 50px;

}
.button-item:not(:last-child){
    margin-right: 8px;
}

.buttons{
display:inline-block;
cursor: pointer;
border-radius: 4px;
padding: 6px 22px;
border:none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: #F5F4FA;

 transition: color 250ms linear, background 250ms linear;
}
.buttons:hover,
.buttons:focus{
    color: #FFFFFF;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08), 
     0px 2px 2px rgba(0, 0, 0, 0.12);
    
}
.photo-title{
 font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-bottom: 4px;
color: var(--primary-text-color);


}
.photo-text{
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--titl-text-color);

}
.photo-link{
    display: block;
    background-color: var(--color-white);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.photo-link:hover, 
.photo-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06), 
     1px 4px 6px rgba(0, 0, 0, 0.16);
}
.photo{
display: flex;
flex-wrap: wrap;
list-style: none;

}
.photo-item{
   margin-right: 30px;
   margin-bottom: 30px;
   outline: 1px solid #eee; 
 
}
.photo-dop{
padding: 20px 24px;
}
.photo-item:nth-child(3n){
    margin-right: 0;
}
.photo-item:nth-last-child(-n+3){
    margin-bottom: 0;
}
/* ОБВЕРТКА НА ФОТО */

.wrapper{
   position: relative;  
   overflow: hidden;
}
.wrapper-text{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}
.photo-link:hover .wrapper-text{
    transform: translateY(0);
}
/* форма модалки */
.modal-form{
    
    padding: 40px;
} 
.modal-form-title{
    display:block;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
  margin-bottom: 30px;
    color: var(--primary-text-color);
}
.modal-form-name, .modal-form-tel,
.modal-form-mail{
 position: relative;
  margin-bottom: 28px;
}


.modal-input{
width: 100%;
 height: 40px; 
   bottom: 0;
    left: 0;
    border: 1px solid rgba(33, 33, 33, 0.2); 
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
border-radius: 4px;
cursor: pointer;
font-weight: 400;
font-size: 12px;
line-height: 1.6;
letter-spacing: 0.01em;
color: var(--primary-text-color);
transition: outline 250ms linear;
    outline: transparent;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

} 
.modal-form-comment{
    
    position: relative;
    width: 100%;
    height: 120px;

   
}
.modal-label-comment{
    position: absolute;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--titl-text-color);
    top: 0;
    left: 0;
    transform: translateY(-120%);

}
.modal-comment{
    
width: 100%;
height: 120px;
  
    border: 1px solid rgba(33, 33, 33, 0.2); 
  
border-radius: 4px;
cursor: pointer;
padding: 12px 16px; 
font-weight: 400;
font-size: 12px;
line-height: 1.6;
letter-spacing: 0.01em;
 resize: none; 
color:var(--primary-text-color);
outline: transparent;
transition: color 250ms linear;
}
.modal-form-comment textarea::placeholder{
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.modal-form-comment textarea{
    color: var(--primary-text-color);
}
.modal-label{
    position: absolute;
    display:block;
   
    margin-bottom: 4px;
   padding-bottom: 4px;
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.6;
letter-spacing: 0.01em;
color: var(--titl-text-color);
    top: -50%;
    left: 0;

}
.madal-form-policy{

    display:flex;
justify-content: center;
    align-items: center;
  
   padding-top: 20px; 
    
}

.modal-label-policy{  
    display:flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
align-items: center;
justify-content: center;


}
 .checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; 
}
/*.modal-icon{
    display: inline-block;
    height: 15px;
    width: 16px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 7px; 
}
.checkbox:checked + .modal-icon{
     background-color: var(--accent-color);
    background-image: url(../images/iconcheck.svg);
    background-size: contain;
    background-origin: border-box; 
    border: var(--accent-color); } */


  
    .modal-icon{
        display: block;
        height: 15px;
        width: 16px;
        background-color: var(--color-white);
        border: 2px solid var(--primary-text-color);
        border-radius: 2px;
        margin-right: 7px; 
        transition: background 250ms linear;

    }
     .checkbox:checked + .modal-icon{
        background-color: var(--accent-color); 
        border: var(--accent-color);
    } 

.btn-modal-form{
display: block;
width: 200px;
height: 50px;
background-color: var(--accent-color);
color: var(--color-white);
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
margin: 30px auto 0;
transition-property: background-color, fill;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}
.policy-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    line-height: 1px;
    text-decoration-line:underline; 
    color:var(--accent-color);
    margin-left: 5px;
}
 
.name-svg{
    position: absolute;
    left: 12px;
    top: 50%;
    color: var(--accent-color);
    display: inline-block;
    transform: translateY(-50%);
    transition: color 250ms linear 0s;
}
 .modal-input:focus ~ .name-svg{
    fill: #2196F3;
}   
.modal-input:focus, .modal-comment:focus{
  outline: #2196F3 1px solid; 
}




/* форма футера */
.footer-form{
   display: block;
    margin-left: 93px;
    width: 570px;
    height: 86px;
    /* justify-content: space-between; */
     
}
.footer-form-title{
display: block;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
color: #FFFFFF;

}
.footer-form-btn{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 10px 28px;
margin: 0;
width: 200px;
height: 50px;
background-color: var(--accent-color);
color: var(--color-white);
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}
.footer-form-icon{
    fill: var(--color-white);
}
.form-list input{
height: 50px;
width: 358px;
margin: 0;
padding-left: 16px;
padding-top: 15px;
padding-bottom: 15px;
background: none;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: var(--color-white);
transition: color 250ms linear;
}
.form-list input::placeholder{
font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

}
.form-item{
    display: flex;
}
.form-list:not(:last-child){
    margin-right: 12px;
}


/* /-------------------------------------------------------------- */

/* форма футера */
.footer-form{
    display: block;
     margin-left: 93px;
     width: 570px;
     height: 86px;
     /* justify-content: space-between; */
      
 }
 .footer-form-title{
 display: block;
 @include font(700, 14px, 1.14, 0.03em);
 /* // font-weight: 700;
 // font-size: 14px;
 // line-height: 1.14;
 // letter-spacing: 0.03em; */
 text-transform: uppercase;
 margin-bottom: 20px;
 color: #FFFFFF;
 
 }
 .footer-form-btn{
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: space-around;
     padding: 10px 28px;
 margin: 0;
 width: 200px;
 height: 50px;
 background-color: var(--accent-color);
 color: var(--color-white);
 font-family: 'Roboto';
 font-style: normal;
 @include font(700, 16px,1.88, 0.06em);
 /* // font-weight: 700;
 // font-size: 16px;
 // line-height: 1.88;
 // letter-spacing: 0.06em; */
 border: none;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 cursor: pointer;
 }
 .footer-form-icon{
     fill: var(--color-white);
 }
 .form-list input{
 height: 50px;
 width: 358px;
 margin: 0;
 padding-left: 16px;
 padding-top: 15px;
 padding-bottom: 15px;
 background: none;
 border: 1px solid rgba(255, 255, 255, 0.3);
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
 border-radius: 4px;
 color: var(--color-white);
 transition: color 250ms linear;
 }
 .form-list input::placeholder{
     @include font(400, 16px, 1.25, 0.03em);
 /* // font-size: 16px;
 // line-height: 1.25;
 // letter-spacing: 0.03em; */
 display: flex;
 align-items: center;
 
 color: rgba(255, 255, 255, 0.6);
 
 }
 .form-item{
     display: flex;
 }
 .form-list:not(:last-child){
     margin-right: 12px;
 }