:root{
    --primary-text-color:#212121;
    --titl-text-color:#757575;
    --accent-color:#2196F3;
    --background-color:#F5F4FA;
    --background-color-footer:#2F303A;
    --color-white: #fff;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --bg-gradient: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4));
}